# dependencies
/node_modules

# build folder
/dist

# local env files
.env
.env*.local

# local test
/test

/.wwebjs_cache

# local session
/session
/auth_info_baileys

# meta files

pnpm-lock.yaml
package-lock.json
yarn.lock

.vscode
